In [54]:
import sys; print(sys.version)

3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]

In [36]:
import pandas as pd 
import numpy as np
from datetime import datetime
import time

In [3]:
# Importer un CSV
train = pd.read_csv("D:/GitHub/Dataset/g-research-crypto-forecasting/train.csv")

In [5]:
ad = pd.read_csv("D:/GitHub/Dataset/g-research-crypto-forecasting/asset_details.csv")

In [61]:
train_2020 = train.loc[(train['timestamp'] >= 1577873958) & (train['timestamp'] < 1609455600)]

In [63]:
train_2020.shape

(6919623, 10)

In [60]:
train

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,2,40.0,2376.580000,2399.500000,2357.140000,2374.590000,1.923301e+01,2373.116392,-0.004218
1,1514764860,0,5.0,8.530000,8.530000,8.530000,8.530000,7.838000e+01,8.530000,-0.014399
2,1514764860,1,229.0,13835.194000,14013.800000,13666.110000,13850.176000,3.155006e+01,13827.062093,-0.014643
3,1514764860,5,32.0,7.659600,7.659600,7.656700,7.657600,6.626713e+03,7.657713,-0.013922
4,1514764860,7,5.0,25.920000,25.920000,25.874000,25.877000,1.210873e+02,25.891363,-0.008264
...,...,...,...,...,...,...,...,...,...,...
24236801,1632182400,9,775.0,157.181571,157.250000,156.700000,156.943857,4.663725e+03,156.994319,NaN
24236802,1632182400,10,34.0,2437.065067,2438.000000,2430.226900,2432.907467,3.975460e+00,2434.818747,NaN
24236803,1632182400,13,380.0,0.091390,0.091527,0.091260,0.091349,2.193732e+06,0.091388,NaN
24236804,1632182400,12,177.0,0.282168,0.282438,0.281842,0.282051,1.828508e+05,0.282134,NaN
24236805,1632182400,11,48.0,232.695000,232.800000,232.240000,232.275000,1.035123e+02,232.569697,NaN

In [8]:
ad

    Asset_ID    Weight        Asset_Name
0          2  2.397895      Bitcoin Cash
1          0  4.304065      Binance Coin
2          1  6.779922           Bitcoin
3          5  1.386294            EOS.IO
4          7  2.079442  Ethereum Classic
5          6  5.894403          Ethereum
6          9  2.397895          Litecoin
7         11  1.609438            Monero
8         13  1.791759              TRON
9         12  2.079442           Stellar
10         3  4.406719           Cardano
11         8  1.098612              IOTA
12        10  1.098612             Maker
13         4  3.555348          Dogecoin

In [16]:
train['date'] = train['timestamp'].to_period(freq='H')

TypeError: unsupported Type RangeIndex

In [17]:
train.dtypes

timestamp      int64
Asset_ID       int64
Count        float64
Open         float64
High         float64
Low          float64
Close        float64
Volume       float64
VWAP         float64
Target       float64
dtype: object

In [33]:
train['date'] = datetime.fromtimestamp(train['timestamp'].strftime('%Y-%m-%d %H:%M:%S'))

AttributeError: 'Series' object has no attribute 'strftime'

In [37]:
# auxiliary function, from datetime to timestamp
totimestamp = lambda s: np.int32(time.mktime(datetime.strptime(s, "%d/%m/%Y").timetuple()))

In [38]:
 train['date'] = totimestamp(train['timestamp'])

TypeError: strptime() argument 1 must be str, not Series

In [39]:
 train['date']  = train[['timestamp']].applymap(lambda x: time.localtime(x))
train_prep2 = train_prep1[['timestamp']].applymap(lambda x: time.strftime("%Y-%m-%d %H:%M:%S", x))
train['timestamp'] = train_prep2

In [40]:
train

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,date
0,1514764860,2,40.0,2376.580000,2399.500000,2357.140000,2374.590000,1.923301e+01,2373.116392,-0.004218,"(2018, 1, 1, 1, 1, 0, 0, 1, 0)"
1,1514764860,0,5.0,8.530000,8.530000,8.530000,8.530000,7.838000e+01,8.530000,-0.014399,"(2018, 1, 1, 1, 1, 0, 0, 1, 0)"
2,1514764860,1,229.0,13835.194000,14013.800000,13666.110000,13850.176000,3.155006e+01,13827.062093,-0.014643,"(2018, 1, 1, 1, 1, 0, 0, 1, 0)"
3,1514764860,5,32.0,7.659600,7.659600,7.656700,7.657600,6.626713e+03,7.657713,-0.013922,"(2018, 1, 1, 1, 1, 0, 0, 1, 0)"
4,1514764860,7,5.0,25.920000,25.920000,25.874000,25.877000,1.210873e+02,25.891363,-0.008264,"(2018, 1, 1, 1, 1, 0, 0, 1, 0)"
...,...,...,...,...,...,...,...,...,...,...,...
24236801,1632182400,9,775.0,157.181571,157.250000,156.700000,156.943857,4.663725e+03,156.994319,NaN,"(2021, 9, 21, 2, 0, 0, 1, 264, 1)"
24236802,1632182400,10,34.0,2437.065067,2438.000000,2430.226900,2432.907467,3.975460e+00,2434.818747,NaN,"(2021, 9, 21, 2, 0, 0, 1, 264, 1)"
24236803,1632182400,13,380.0,0.091390,0.091527,0.091260,0.091349,2.193732e+06,0.091388,NaN,"(2021, 9, 21, 2, 0, 0, 1, 264, 1)"
24236804,1632182400,12,177.0,0.282168,0.282438,0.281842,0.282051,1.828508e+05,0.282134,NaN,"(2021, 9, 21, 2, 0, 0, 1, 264, 1)"
24236805,1632182400,11,48.0,232.695000,232.800000,232.240000,232.275000,1.035123e+02,232.569697,NaN,"(2021, 9, 21, 2, 0, 0, 1, 264, 1)"